<header class="jq-page-header">
  <div>
    <%= render "jquard/breadcrumbs", crumbs: [ [ @resource.navigation_label, resource_path(@resource.slug) ], [ "Edit", nil ] ] %>
    <h1 class="jq-page-title"><%= @page.title %></h1>
  </div>
</header>

<%= render Jquard::Schemas::FormComponent.new(schema: @form_schema, record: @record, resource: @resource) %>
